.datePickerWrapper{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: white;
    box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 420;
    font-size: 18px;
    line-height: 24px;
}

.dateSelect, .dateSelect:active{
    border: none;
    outline: none;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
}

.dateSelect:visited{
    background-color: white;
}
.dateSelect{
    background: linear-gradient(180deg, #E44848 0%, #E4486D 100%), #F8F7FA;
    color: white;
}
option{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dateSelect, select{
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 420;
    font-size: 18px;
    line-height: 24px;
}
.rdrMonthAndYearPickers select{
    border: black;

}
.dateSelect:hover, .dateSelect:active{
    cursor: pointer;
    background-color:rgba(0,0,0,0.07);
}
.rdrCalendarWrapper{
    border-radius: 15px;
}
.dateSelect{
    margin: 20px auto;
    margin-bottom: 0;
}
.rdrWeekDay{
    color: #333333;
    font-weight: 420;
    font-size: 16px;
    line-height: 24px; 
}
.container{
    background-color: white;
}
.calendar{
    box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}
.rdrMonth{
    width: 302px;
    padding-left: 10px;
    padding-right: 10px;
}

.rdrDayNumber{
    width: 26px;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: 400;
}
.rdrSelected{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-left: 3.5px;
    background: linear-gradient(180deg, #E44848 0%, #E4486D 100%), #F8F7FA;
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after{
    border: none;
}
.rdrDayStartPreview{
    border: none;
}
.rdrDayNumber:hover{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: rgba(0,0,0,0.2);
    color: white;
}
.rdrNextPrevButton{
    width: 0;
}
.rdrDayToday .rdrDayNumber span:after{
    width: 0;
}
.rdrNextPrevButton, .rdrNextPrevButton:hover{
    background: linear-gradient(180deg, #E44848 0%, #E4486D 100%), #F8F7FA;
}
.rdrPprevButton i, .rdrNextButton i{
    border-width: 0;
}
.rdrMonthAndYearPickers select{
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
    outline: 0;
    color: #333333;
    background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>") no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center
  }
