.wrapper{
    height: 100vh;
}
input{
    margin-top: 20px;
    width: 314px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: grey;
    border-radius: 10px;
    outline:none;
}