html, #root, body{
  margin:0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Brandon Grotesque;
}
#root{
  display: flex;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
